<form [formGroup]="renteForm">
<div class="form-group">
  <label>Naam A:</label>
  <input type="text" formControlName="nameA">
</div>
<div class="form-group">
  <label>Naam B:</label>
  <input type="text" formControlName="nameB">
</div>
  <div class="form-group">
    <label>Totale prijs aankoop:</label>
    <input type="number" formControlName="totalPrice">
  </div>
<div class="form-group">
  <label>Lening:</label>
  <input type="number" formControlName="loan">
</div>
<div class="form-group">
  <label>Totaal salaris:</label>
  <input type="number" formControlName="totalSalary">
</div>
<div class="form-group">
  <label>Maandelijkse aflossing:</label>
  <input type="number" formControlName="monthlyRedemption">
</div>
<div class="form-group">
  <label>Type lening:</label>
  <input type="text" formControlName="typeOfLoan">
</div>
  <button (click)="calculate()" [disabled]="renteForm.invalid">
    Opslaan
  </button>
  <button (click)="reset()" [disabled]="renteForm.invalid">
    Reset
  </button>
</form>
<p *ngIf="quotity">Quotiteit: {{quotity}}%</p>
<p *ngIf="restincome">Restinkomen: {{restincome}}</p>
<p *ngIf="ratioredemptionincome">Ratio Lasten/Inkomsten: {{ratioredemptionincome}}%</p>
<p *ngIf="criteria != 0">Aantal kwaliteitscriteria: {{criteria}}</p>
<h3>Berekende rente:</h3>
<div *ngIf="tarificationTable">
<!--<p *ngIf="criteria == 1">{{tarificationTable.Bronze}}</p><p *ngIf="criteria == 2">{{tarificationTable.Silver}}</p><p *ngIf="criteria == 3">{{tarificationTable.Gold}}</p>-->
  <p>{{calculatedInterestRate}}</p>
</div>
<h3>Gain</h3>
<table border="1">
  <th>Summary information</th>
  <th>Current</th>
  <th>Offered</th>
  <tr>
    <td>OUTSTANDING</td>
    <td>x</td>
    <td>x</td>
  </tr>
  <tr>
    <td>annual interest rate</td>
    <td>x</td>
    <td>{{calculatedInterestRate}}</td>
  </tr>
  <tr>
    <td>life lan</td>
    <td>x</td>
    <td>x</td>
  </tr>
  <tr>
    <td>number of payments per year</td>
    <td>x</td>
    <td>x</td>
  </tr>
  <tr>
    <td>total number of payments</td>
    <td>x</td>
    <td>x</td>
  </tr>
  <tr>
    <td>payment per period</td>
    <td>x</td>
    <td>x</td>
  </tr>
  <tr>
    <td>sum of payments</td>
    <td>x</td>
    <td>x</td>
  </tr>
  <tr>
    <td>interest cost</td>
    <td>x</td>
    <td>x</td>
  </tr>
</table>
<h3>Cost</h3>
<table border="1">
  <th>Summary information</th>
  <th>Current</th>
  <th>Offered</th>
  <tr>
    <td>Wederbelegging</td>
    <td>x</td>
    <td>x</td>
  </tr>
  <tr>
    <td>handlichting</td>
    <td>x</td>
    <td>x</td>
  </tr>
  <tr>
    <td>aktekosten</td>
    <td>x</td>
    <td>x</td>
  </tr>
  <tr>
    <td><b>total refinancing cost</b></td>
    <td>x</td>
    <td>x</td>
  </tr>
</table>
<h3>Profit</h3>
<table border="1">
  <th>TOTAL</th>
  <th>MONTHLY</th>
  <tr>
    <td>x</td>
    <td>x</td>
  </tr>
</table>
